/* */
form {
    margin: 60px auto; 
    
    width: 24rem;
    
}

.form_group {
    margin-bottom: 0.5rem;
}

label {
    display: block; 
}

input {
    box-sizing: border-box;
    padding: 0.5rem; 
    width: 100%; 
    border: 1px solid #ddd; 
}
