body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f4f8;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.question {
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-link {
    display: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #0056b3;
}

.button-retry {
    display: inline-box;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.button-retry:hover {
    background-color: #0056b3;
}

input {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#result1,
#result2 {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
